.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 1rem;
}
.pencil {
  font-size: 1.5rem;
}

.size-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.size-container input {
  border: none;
}
.heading {
  text-align: center;
  margin: 0;
}
.active {
  color: red;
}
.eraser {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
  }
  .icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 1rem;
  }

  .size-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .heading {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
  }
  .pencil {
    font-size: 0.8rem;
  }
  .eraser {
    font-size: 0.8rem;
  }
  button {
    font-size: 0.8rem;
  }
  .label {
    font-size: 1rem;
  }
  .input {
    width: 4rem;
  }
}
